<div class="card-block">
    <div class="card-text">
        <p>Basic information of an environment with any test can be associated with it.</p>
        <%- include('../../common/message') %>
    </div>
    <form class="form form-horizontal" action="/environment" method="POST">
        <div class="form-body">
            <h4 class="form-section"><i class="icon-panorama_horizontal"></i> Environment</h4>
            <div class="form-group row">
                <label class="col-md-3 label-control" for="environmentName">Name</label>
                <div class="col-md-9">
                    <input type="text" id="name" class="form-control required" placeholder="Environment Name" name="name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 label-control" for="environmentDesc">Description</label>
                <div class="col-md-9">
                    <textarea id="description" rows="5" class="form-control" name="description" placeholder="Environment Description"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 label-control" for="protocol">Protocol</label>
                <div class="col-md-9">
                    <input type="text" id="protocol" class="form-control required" placeholder="Protocol" name="protocol">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 label-control" for="protocol">Host</label>
                <div class="col-md-9">
                    <input type="text" id="host" class="form-control required" placeholder="Host" name="host">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 label-control" for="protocol">Port</label>
                <div class="col-md-9">
                    <input type="text" id="port" class="form-control required" placeholder="Port" name="port">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 label-control" for="protocol">Context</label>
                <div class="col-md-9">
                    <input type="text" id="context" class="form-control required" placeholder="Context" name="context">
                </div>
            </div>
        </div>

        <div class="form-actions right">
            <button type="button" class="btn btn-primary mr-1 process-page" data-url="/environment/list/<%= req.session.project._id %>"
                    data-method="GET" data-title="View Environments" data-datatable="environment-list">
                <i class="icon-arrow-left4"></i> Back
            </button>
            <button type="button" class="btn btn-warning mr-1 side-panel-trigger">
                <i class="icon-cross2"></i> Close
            </button>
            <button type="button" class="btn btn-primary process-page" data-url="/environment" data-method="POST" data-title="Create Environment" data-form="true">
                <i class="icon-check2"></i> Save
            </button>
        </div>
    </form>
</div>