<section class="flexbox-container">
    <div class="col-md-3 col-xs-10 border-radius-1 offset-xs-1 box-shadow-3 p-0">
        <div class="card border-grey border-radius-1 border-lighten-3 px-1 py-1 m-0">
            <div class="card-header no-border">
                <div class="card-title text-xs-center">
                    <img src="../../app-assets/images/logo/robust-logo-dark.png" alt="branding logo">
                </div>
            </div>
            <div class="card-body collapse in">
                <p class="card-subtitle line-on-side text-muted text-xs-center font-small-3 mx-2 my-1"><span>Performance Captured <%= locals.title %></span></p>
                <%  var username;
                    if (locals.username) { %>
                        <% username = locals.username %>
                 <% } %>
                <% if (locals.error) { %>
                    <div class="alert alert-icon-left  alert-arrow-left alert-danger alert-dismissible fade in mb-2" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        </button>
                        <%= locals.error.message%>
                    </div>
                <% } %>

                <% if (locals.status) { %>
                    <div class="bs-callout-success callout-border-right mt-1 p-1">
                        <strong><%= locals.status.message %>!</strong>
                    </div>
                <% } %>
                <div class="card-block">
                    <form class="form-horizontal" id="login-form" action="/auth" method="post">
                        <fieldset class="form-group position-relative has-icon-left">
                            <input type="text" class="form-control" id="username" placeholder="User Name" name="username" required value="<%= username %>">
                            <div class="form-control-position">
                                <i class="icon-head"></i>
                            </div>
                        </fieldset>
                        <fieldset class="form-group position-relative has-icon-left">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
                            <div class="form-control-position">
                                <i class="icon-key3"></i>
                            </div>
                        </fieldset>
                        <fieldset class="form-group row">
                            <div class="col-md-6 col-xs-12 text-xs-center">
                                <fieldset>
                                    <input type="checkbox" id="rememberMe" name="rememberMe" class="chk-remember">
                                    <label for="remember-me"> Remember Me</label>
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-xs-12 float-sm-left text-xs-center"><a href="recover-password.html" class="card-link">Forgot Password?</a></div>
                        </fieldset>
                        <button type="submit" class="btn btn-outline-primary btn-block" id="loginSubmit" name="loginSubmit" data-destination=".card"><i class="icon-unlock2"></i> Login</button>
                        <a href="register.html" class="btn btn-outline-primary btn-block"><i class="icon-head"></i> Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>