<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<%- include('features/login/login-head') %>

<body data-open="click" data-menu="vertical-content-menu" data-col="1-column" class="vertical-layout vertical-content-menu 1-column bg-full-screen-image blank-page blank-page">

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-body">
            <%- include('features/common/message') %>
            <%- body %>
        </div>
    </div>
</div>

<%- include('features/login/login-footer') %>

</body>

</html>
