<table id="scoreboard" class="table table-bordered tableSorter">
    <thead>
    <tr class="info">
        <th>username</th>
        <th>password</th>
        <th>id</th>
    </tr>
    </thead>
    <tbody>
    <td><%- data.username %> </td>
    <td><%- data.password %> </td>
    <td><%- data.id %> </td>
    </tbody>
</table>