<div class="card-block">
    <!--<div class="row">
        <div class="col-xs-12 right">
            <div class="form-group">
                <div class="btn-group pull-right" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-icon btn-outline-primary"><i class="icon-info"></i></button>
                </div>
            </div>
        </div>
    </div>-->
    <div class="card-text">
        <%- include('../common/message') %>
    </div>
    <form class="form form-horizontal" action="/project/create" method="post">
        <div class="form-body">
            <h4 class="form-section"><i class="icon-head"></i> Project</h4>
            <div class="form-group row">
                <label class="col-md-3 label-control" for="projectName">Name</label>
                <div class="col-md-9">
                    <input type="hidden" id="createdBy" class="form-control required" name="createdBy" value="<%= req.session.user._id %>">
                    <input type="text" id="name" class="form-control required" placeholder="Project Name" name="name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 label-control" for="projectDesc">Description</label>
                <div class="col-md-9">
                    <textarea id="description" rows="5" class="form-control" name="description" placeholder="Project Description"></textarea>
                </div>
            </div>
        </div>

        <div class="form-actions right">
            <button type="button" class="btn btn-warning mr-1 side-panel-trigger">
                <i class="icon-cross2"></i> Close
            </button>
            <button type="button" class="btn btn-primary process-page" data-url="/project" data-method="POST" data-refreshurl="/auth/index" data-title="Create Project" data-form="true">
                <i class="icon-check2"></i> Save
            </button>
        </div>
    </form>
</div>