<div class="col-xl-6 col-md-12">
    <div class="card overflow-hidden">
        <div class="card-body">
            <div class="card-block cleartfix">
                <div class="media">
                    <div class="media-left media-middle">
                        <i class="icon-trending_up pink font-large-2 mr-2"></i>
                    </div>
                    <div class="media-body">
                        <h4>Project 1</h4>
                        <span>Project 1 Description </span>
                    </div>
                    <div class="btn-group-vertical">
                        <div class="" role="group" aria-label="First Group">
                            <button type="button" class="btn btn-icon btn-success" onclick="location.href='project.html';"><i class="icon-eye"></i></button>
                            <button type="button" class="btn btn-icon btn-info side-panel-trigger"><i class="icon-pen3"></i></button>
                            <button type="button" class="btn btn-icon btn-danger cancel-button"><i class="icon-trash4"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-6 col-md-12">
    <div class="card overflow-hidden">
        <div class="card-body">
            <div class="card-block cleartfix">
                <div class="media">
                    <div class="media-left media-middle">
                        <i class="icon-trending_up pink font-large-2 mr-2"></i>
                    </div>
                    <div class="media-body">
                        <h4>Project 2</h4>
                        <span>Project 2 Description </span>
                    </div>
                    <div class="btn-group-vertical">
                        <div class="" role="group" aria-label="First Group">
                            <button type="button" class="btn btn-icon btn-success" onclick="location.href='project.html';"><i class="icon-eye"></i></button>
                            <button type="button" class="btn btn-icon btn-info side-panel-trigger"><i class="icon-pen3"></i></button>
                            <button type="button" class="btn btn-icon btn-danger cancel-button"><i class="icon-trash4"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-6 col-md-12">
    <div class="card overflow-hidden">
        <div class="card-body">
            <div class="card-block cleartfix">
                <div class="media">
                    <div class="media-left media-middle">
                        <i class="icon-trending_up pink font-large-2 mr-2"></i>
                    </div>
                    <div class="media-body">
                        <h4>Project 3</h4>
                        <span>Project 3 Description </span>
                    </div>
                    <div class="btn-group-vertical">
                        <div class="" role="group" aria-label="First Group">
                            <button type="button" class="btn btn-icon btn-success" onclick="location.href='project.html';"><i class="icon-eye"></i></button>
                            <button type="button" class="btn btn-icon btn-info side-panel-trigger"><i class="icon-pen3"></i></button>
                            <button type="button" class="btn btn-icon btn-danger cancel-button"><i class="icon-trash4"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-6 col-md-12">
    <div class="card overflow-hidden">
        <div class="card-body">
            <div class="card-block cleartfix">
                <div class="media">
                    <div class="media-left media-middle">
                        <i class="icon-trending_up pink font-large-2 mr-2"></i>
                    </div>
                    <div class="media-body">
                        <h4>Project 4</h4>
                        <span>Project 4 Description </span>
                    </div>
                    <div class="btn-group-vertical">
                        <div class="" role="group" aria-label="First Group">
                            <button type="button" class="btn btn-icon btn-success" onclick="location.href='project.html';"><i class="icon-eye"></i></button>
                            <button type="button" class="btn btn-icon btn-info side-panel-trigger"><i class="icon-pen3"></i></button>
                            <button type="button" class="btn btn-icon btn-danger cancel-button"><i class="icon-trash4"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>