<section class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-head">
                <div class="card-header">
                    <h4 class="card-title">&nbsp;</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <button class="btn btn-primary btn-sm process-page" data-url="/application/create" data-method="GET" data-title="Add Application" data-formrepeater="true"><i class="icon-plus4 white"></i> Add Application</button>
                    </div>
                </div>
            </div>
            <div class="card-body collapse in">
                <div class="card-block">
                    <!-- Task List table -->
                    <table id="application-list" class="table table-white-space table-bordered row-grouping display table-responsive no-wrap icheck table-middle">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Created Date</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="checkbox" class="input-chk"></td>
                            <td>
                                <div class="media">
                                    <div class="media-body media-middle">
                                        <a href="#" class="media-heading">Component 1</a>
                                        <p class="text-muted">Rest Json Component.</p>
                                    </div>
                                </div>
                            </td>
                            <td class="text-xs-center">
                                04-12-2017
                            </td>
                            <td>REST JSON</td>
                            <td><span class="tag tag-default tag-success">Active</span></td>
                            <td>
                                <div class="" role="group" aria-label="First Group">
                                    <button type="button" class="btn btn-icon btn-success"><i class="icon-eye"></i></button>
                                    <button type="button" class="btn btn-icon btn-info side-panel-trigger"><i class="icon-pen3"></i></button>
                                    <button type="button" class="btn btn-icon btn-danger cancel-button"><i class="icon-trash4"></i></button>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td><input type="checkbox" class="input-chk"></td>
                            <td>
                                <div class="media">
                                    <div class="media-body media-middle">
                                        <a href="#" class="media-heading">Component 2</a>
                                        <p class="text-muted">SOAP Webservices Component.</p>
                                    </div>
                                </div>
                            </td>
                            <td class="text-xs-center">
                                04-12-2017
                            </td>
                            <td>SOAP</td>
                            <td><span class="tag tag-default tag-success">Active</span></td>
                            <td>
                                <div class="" role="group" aria-label="First Group">
                                    <button type="button" class="btn btn-icon btn-success"><i class="icon-eye"></i></button>
                                    <button type="button" class="btn btn-icon btn-info side-panel-trigger"><i class="icon-pen3"></i></button>
                                    <button type="button" class="btn btn-icon btn-danger cancel-button"><i class="icon-trash4"></i></button>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td><input type="checkbox" class="input-chk"></td>
                            <td>
                                <div class="media">
                                    <div class="media-body media-middle">
                                        <a href="#" class="media-heading">Component 3</a>
                                        <p class="text-muted">WEB Page Component.</p>
                                    </div>
                                </div>
                            </td>
                            <td class="text-xs-center">
                                04-12-2017
                            </td>
                            <td>WEBPAGE</td>
                            <td><span class="tag tag-default tag-success">Active</span></td>
                            <td>
                                <div class="" role="group" aria-label="First Group">
                                    <button type="button" class="btn btn-icon btn-success"><i class="icon-eye"></i></button>
                                    <button type="button" class="btn btn-icon btn-info side-panel-trigger"><i class="icon-pen3"></i></button>
                                    <button type="button" class="btn btn-icon btn-danger cancel-button"><i class="icon-trash4"></i></button>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td><input type="checkbox" class="input-chk"></td>
                            <td>
                                <div class="media">
                                    <div class="media-body media-middle">
                                        <a href="#" class="media-heading">Component 4</a>
                                        <p class="text-muted">Accessibility Component.</p>
                                    </div>
                                </div>
                            </td>
                            <td class="text-xs-center">
                                04-12-2017
                            </td>
                            <td>ACCESSIBILITY</td>
                            <td><span class="tag tag-default tag-success">Active</span></td>
                            <td>
                                <div class="" role="group" aria-label="First Group">
                                    <button type="button" class="btn btn-icon btn-success"><i class="icon-eye"></i></button>
                                    <button type="button" class="btn btn-icon btn-info side-panel-trigger"><i class="icon-pen3"></i></button>
                                    <button type="button" class="btn btn-icon btn-danger cancel-button"><i class="icon-trash4"></i></button>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                        <tfoot>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Created Date</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>